<head>
    <meta charset='utf-8'>
    <!-- Angular Material CSS now available via Google CDN; version 1.2.1 used here -->
    <link rel="stylesheet" href="angularjs/angular-material.min.css">
    <script src="angularjs/angular.min.js"></script>
    <style>
        input,
        textarea,
        body,
        md-content {

            background-color: black;
            color: aliceblue;

        }

        .icon-black {
            filter: invert(100%);
        }

        .icon-black:hover {
            /* red */
            /* -webkit-filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
            filter: invert(100%) grayscale(100%) brightness(20%) sepia(100%) hue-rotate(-50deg) saturate(700%) contrast(0.8); */

            transform: rotate(90deg);


            -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
            filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);

        }

        img {
            width: 1.7rem;
            vertical-align: text-top;
            transition: .5s ease;
        }

        img:hover {
            opacity: 0.9;
            filter: none;
        }

        img:active {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }

        img:active {
            /*width: 2rem;*/
            transition: .1s ease;
        }

        .button {
            display: inline-block;
            width: 30px;
            height: 30px;
        }

        .button.okay {
            background: url('img/check.svg');

        }

        ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

        /* .icon {
            position: relative;
            vertical-align: top;  
          } */
    </style>
</head>

<body>

    <!-- Angular Material Dependencies -->

    <script src="angularjs/angular-animate.min.js"></script>
    <script src="angularjs/angular-aria.min.js"></script>
    <script src="angularjs/angular-messages.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 1.2.1 used here -->
    <script src="angularjs/angular-material.min.js"></script>


    <div id='app' ng-app="rolApp" ng-controller="rolController">


        <!-- <select ng-model="sel.pj" ng-options="x for x in listaPersonajes" ng-change="cargar(sel.pj)">
        </select> -->
        
            <label> Personaje
         <input type="text" list="dataList" ng-model="sel.pj" ng-change="cargar(sel.pj)">
            </label>
            <datalist id="dataList">
              <option ng-repeat="x in listaPersonajes" value="{{x}}"></option>
            </datalist>
            

        <!-- <md-select ng-model="sel.pj" ng-options="x for x in listaPersonajes" ng-change="cargar(sel.pj)">
        </md-select> -->

        <md-select ng-model="sel.pj" ng-change="cargar(sel.pj)"  placeholder="Personaje a cargar" class="md-no-underline">
            <md-option ng-repeat="nombre in listaPersonajes" ng-value="nombre" >
              {{nombre}}
            </md-option>
          </md-select>

        <!-- <md-button class="md-fab md-primary" aria-label="Use Android">
            <img src="img/magic-wand.svg">
        </md-button>

        <md-input-container>
            <label>Title</label>
            <input ng-model="p.nombre" onclick="select()">
        </md-input-container> -->
        <div>
            Habilidades<br>
            <mi-hab nombre='Esquivar'></mi-hab>
            <in-habilidad id="h1" filtro="h.tipo==='Agilidad'"></in-habilidad>
            <in-habilidad id="h2" clase="Hechizo" img='img/magic-wand-aqua.svg'></in-habilidad>
            <in-habilidad id="h12" clase="HabilidadMarcial" img='img/shield.svg'></in-habilidad>
            <in-habilidad id="h3" img='img/magic-wand-aqua.svg'></in-habilidad>

            <!-- <in-habilidad>
                <input list='datalist'></input>
                <datalist id='datalist'>
                    <option ng-repeat='h in p.getHabilidades(h=>(h.valor>=10))'>{{h.nombre}}</option>`
                </datalist>
            </in-habilidad> -->

        </div>

        <!-- <md-datepicker ng-model="fecha" md-placeholder="Enter date"
            input-aria-describedby="datepicker-description" input-aria-labelledby="datepicker-header " value=></md-datepicker>
        <input type="datetime-local" ng-model="fecha" id="birthdaytime" name="birthdaytime"> -->
        <input type=datetime-local  ng-model="fecha"  step="1">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                    <md-content class="md-padding">
                        <div ng-click="atrasInventario()">Atrás</div>
                        Inventario en {{contenedor.nombre}}
                        <div ng-repeat="o in contenedor.objetos">
                            <span ng-if="esContenedor(o)" ng-click="abreContenedor(o)"> <img class='icon-black'
                                    src="img/box-open-solid.svg" width="16" height="16"></span>
                            <md-input-container>
                                <label>Nombre</label>
                                <input ng-model="o.nombre" onclick="select()">
                            </md-input-container>
                            <md-input-container>
                                <label>Peso</label>
                                <input type="number" ng-model="o.peso" onclick="select()">
                            </md-input-container>

                            <!-- <div ng-repeat="oo in o.objetos" ng-if="o.constructor.name ==='Contenedor'">
                                    <md-input-container>
                                        <label>Nombre</label>
                                        <input ng-model="oo.nombre" onclick="select()">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Peso</label>
                                        <input type="number" ng-model="oo.peso" onclick="select()">
                                    </md-input-container>
                                </div> -->

                        </div>
                        <md-input-container>
                            <label>Total</label>
                            <input ng-model="contenedor.pesa">
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="Habilidades">
                    <md-content class="md-padding">
                        <md-select id='columnas' ng-model="colHab" placeholder="Visibles" class="md-no-underline"
                            required md-no-asterisk="false" multiple style=" font-variant: small-caps">
                            <md-option value='nombre' selected>{{nombre['nombre']}}</md-option>
                            <md-option value='xp' selected>{{nombre['xp']}}</md-option>
                            <md-option value='valor' selected> {{nombre['valor']}}</md-option>
                            <md-option value='bh' selected> {{nombre['bh']}}</md-option>
                            <md-option value='v' selected> {{nombre['v']}}</md-option>
                        </md-select>
                        <input type="text" ng-model="buscar">
                        <table>
                            <tr>
                                <th ng-repeat='c in colHab' visible='false' style=" font-variant: small-caps">
                                    {{nombre[c]}}
                                </th>
                            </tr>
                            <tr ng-repeat="subject in p.getHabilidades() | orderBy:miOrden | filter : buscar">
                                <td ng-repeat='c in colHab'>
                                    <span ng-if="c==='nombre'">
                                        <span ng-switch="subject.constructor.name">
                                            <span ng-switch-when="Hechizo">
                                                {{subject[c]}} <img class='icon-black' src="img/magic-wand.svg"
                                                width="16" height="16">
                                            </span>
                                            <span ng-switch-when="Habilidad">
                                                {{subject[c]}} 
                                            </span>
                                            <span ng-switch-when="HabilidadMarcial">
                                                {{subject[c]}}  <img class='icon-black' src="img/sword.svg"
                                                width="16" height="16">
                                            </span>
                                            <span ng-switch-default>
                                                {{subject[c]}}
                                            </span>
                                        </span>
                                    </span>

                                    <input ng-if="c==='xp'" type="number" ng-model="subject[c]"
                                        ng-style="{ 'color': (subject.subible()<100? 'green' : 'red') ,'width': '2.5em'}">

                                    <input ng-if="c!='nombre'&&c!='xp'" type="number" ng-model="subject[c]"
                                        ng-style="{'width': '3em'}">

                                </td>
                                <!-- <td>{{ subject.nombre }}</td>
                            <td>{{ subject.valor }} <input type="number"
                                    ng-model="p.getHabilidad(subject.nombre).valor"></td>
                            <td ng-style="{ 'color': (subject.bh>0 ? 'green' : 'red')}">{{ subject.bh }}</td>
                            <td>{{ subject.v }}</td> -->
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Magia">
                    <md-content class="md-padding">
                        
                        <in-habilidad id="in-hechizo" clase="Hechizo" img='img/magic-wand-aqua.svg'></in-habilidad>
                        <in-habilidad id="magias" filtro="h.tipo==='Magia'"></in-habilidad>
                    </md-content>
                </md-tab>
                <md-tab label="Habilidades Mat">
                    <md-content class="md-padding" ng-repeat="x in p.habilidades">
                        {{x.nombre}} <br>
                            <mi-hab nombre="{{x.nombre}}" > </mi-hab>    
                    </md-content>
                </md-tab>
                <md-tab label="data">
                    <md-content class="md-padding">
                        <ul>
                            <li ng-repeat="(key, value) in p">
                                {{key}} : {{value}}
                            </li>
                        </ul>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>


            <md-input-container>
                <label>Habilidades</label>
                <md-select ng-model="habSel" multiple>
                    <md-option><em>Ninguna</em></md-option>
                    <md-option ng-repeat="c in p.habilidades" ng-value="c.nombre">
                        {{c.nombre}}
                    </md-option>
                </md-select>
            </md-input-container>

        </section>

        <!-- <button onclick="change('nombre','Rober')">Rober</button> -->

        <table border="0">
            <tr>
                <td>Enter first name:</td>
                <td><input type="text" ng-model="p.nombre"></td>
            </tr>
            <tr>
                <td>Raza: </td>
                <td>
                    <input type="text" ng-model="p.clase">
                </td>
            </tr>
            <tr>
                <td>Peso: </td>
                <td>{{p.peso}}</td>
            </tr>
            <tr>
                <td>Caracteristicas: </td>
                <td>
                    <table>
                        <tr hidden>
                            <td>_FUE</td>
                            <td><input type="number" ng-model="p._FUE"></td>
                        </tr>

                        <tr ng-repeat="c in CP">
                            <td>{{ c }}</td>
                            <td>{{ p[c] }}<input type="number" ng-model="p[c]"></td>
                            <td><input type="number" ng-model="p.bonificacion[c]"
                                    ng-style="{ 'color': (p.bonificacion[c]>0 ? 'green' : 'red') ,'width': '2.5em'}">
                            </td>
                            <td>{{p.getCar(c) }}</td>
                            <td>{{ TH[$index] }}</td>
                            <td>{{p.getCar(TH[$index]) }}</td>

                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td>Habilidades:</td>

                <td>
                    <input type="text" ng-model="test">
                    <table>
                        <tr>
                            <th ng-click="orden('nombre')">Nombre</th>
                            <th ng-click="orden('valor')">Valor</th>
                            <th ng-click="orden('bh')">Bon</th>
                            <th ng-click="orden('v')">Total</th>
                        </tr>
                        <tr ng-repeat="subject in p.getHabilidades() | orderBy:miOrden | filter : test">
                            <td>{{ subject.nombre }}</td>
                            <!-- <td>{{ subject.valor }}</td> -->
                            <td>{{ subject.valor }} <input type="number"
                                    ng-model="p.getHabilidad(subject.nombre).valor"></td>
                            <td ng-style="{ 'color': (subject.bh>0 ? 'green' : 'red')}">{{ subject.bh }}</td>
                            <td>{{ subject.v }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


       

    </div>
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add a category">
        <md-icon>add</md-icon>
      </md-button>
    <button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button" ng-transclude="" docs-scroll-class="scrolling"  aria-label="Back to Top"></button>



    <script src='js/D.js'></script>
    <script src='js/habilidades.js'></script>
    <script src='js/inventario.js'></script>
    <script src='js/localizaciones.js'></script>
    <script src='js/utils.js'></script>

    <script src='js/rol.js'></script>

    <script src='js/amat.js'></script>
</body>