<html>

<head>
    <meta charset='utf-8'>
    <title>Angular JS Table</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.20/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- <script src="js/utils.js"></script> -->

    <style>
        table,
        th,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

        table tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }

        input[type=number]{
            width: 4em;
        }
    </style>
</head>

<body>
    <h2>AngularJS Sample Application</h2>

    <div id='app' ng-app="mainApp" ng-controller="studentController">
        <select ng-model="selectedName" ng-options="x.nombre for x in student.habilidades">
        </select>

        <input type="text" ng-model="test">
        <!-- <button onclick="change('nombre','Rober')">Rober</button> -->

        <table border="0">
            <tr>
                <td>Enter first name:</td>
                <td><input type="text" ng-model="student.nombre"></td>
            </tr>
            <tr>
                <td>Raza: </td>
                <td>
                    <input type="text" ng-model="student.clase">
                </td>
            </tr>
            <tr>
                <td>Peso: </td>
                <td>{{student.peso}}</td>
            </tr>
            <tr>
                <td>Caracteristicas: </td>
                <td>
                    <table>
                        <tr hidden>
                            <td>_FUE</td>
                            <td><input type="number" ng-model="student._FUE"></td>
                        </tr>

                        <tr ng-repeat="c in CP">
                            <td>{{ c }}</td>
                            <td>{{ student[c] }}<input type="number" ng-model="student[c]"></td>
                            <td><input type="number" ng-model="student.bonificacion[c]"
                                ng-style="{ 'color': (student.bonificacion[c]>0 ? 'green' : 'red') ,'width': '2.5em'}"></td>
                            <td>{{student.getCar(c) }}</td>
                            <td>{{ TH[$index] }}</td>
                            <td>{{student.getCar(TH[$index]) }}</td>

                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td>Habilidades:</td>

                <td>
                    <table>
                        <tr>
                            <th ng-click="orden('nombre')">Nombre</th>
                            <th ng-click="orden('valor')">Valor</th>
                            <th ng-click="orden('bh')">Bon</th>
                            <th ng-click="orden('v')">Total</th>
                        </tr>
                        <tr ng-repeat="subject in student.getHabilidades() | orderBy:miOrden | filter : test">
                            <td>{{ subject.nombre }}</td>
                            <!-- <td>{{ subject.valor }}</td> -->
                            <td>{{ subject.valor }} <input type="number"
                                    ng-model="student.getHabilidad(subject.nombre).valor"></td>
                            <td ng-style="{ 'color': (subject.bh>0 ? 'green' : 'red')}">{{ subject.bh }}</td>
                            <td>{{ subject.v }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <ul>
            <li ng-repeat="(key, value) in student">
                {{key}} : {{value}}
            </li>
        </ul>

       


    </div>


    <script src='js/D.js'></script>
    <script src='js/habilidades.js'></script>
    <script src='js/inventario.js'></script>
    <script src='js/localizaciones.js'></script>

    <script src='js/rol.js'></script>

    <script>
        pj.act();

        var mainApp = angular.module("mainApp", []);

        mainApp.controller('studentController', function ($scope) {
            $scope.student = pj;
            $scope.CP = CP;
            $scope.TH = TipoHabilidades;
            $scope.orden = function (x) {
                if ($scope.miOrden == x) $scope.miOrden = '-' + x;
                else $scope.miOrden = x
                // console.log($scope.miOrden);
            }
        });

        function change(field, value) {
            var scope = angular.element(document.getElementById('app')).scope();
            scope.$apply(function () {
                scope.student[field] = value;
                // scope.student.act();
                console.log(scope.student.getCar(field));
            });

        }

        function cargar(nombre) {
            pj = cargaLocalObjeto(nombre);
            act();
        }

        function act() {
            var scope = angular.element(document.getElementById('app')).scope();
            scope.$apply(function () {
                scope.student = pj;
                scope.student.act();
            });


        }
    </script>

</body>

</html>